@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", sans-serif; */

:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  --dark-bg: var(--black);
  --text-color: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  --page-bg:var(--white);
  --text-color:var(--black);

  --title-1:var(--accent);


  --project-card-bg:var(--black);


}



a {
  text-decoration: none;

}
.content-list a{
  color: var(--accent);
}
html,
body {
  display: flex;
  flex-direction: column;
  
  min-height:100vh;
  
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  
  
  background-color: var(--page-bg);
  color: var(--text-color);

}

.dark{


  --page-bg:#252526;
  
  --title-1:var(--white);

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  background-color: var(--dark-bg);
  color: var(--header-text);
  padding: 20px 0;
  border-bottom: 1px solid var(--dark-border);
  position: sticky;
  top: 0px;
  left: 0;
}

.nav-row {
  display: flex;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  color: var(--header-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-right: auto;
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-list__link {
  color: var(--header-text);
  transition: all;
  transition: opacity 0.2s ease-in;
}
.nav-list__link:hover {
  opacity: 0.5;
}
/* .nav-list__link--active:hover{

    border-bottom: 3px solid #5C62EC;
} */

.nav-list__link--active {
  position: relative;
}
.nav-list__link--active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--accent);
}



.header {
  min-height: 695px;
  background-color: var(--dark-bg);
  color: var(--header-text);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/img/projects/Abstract.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;

  
}

.header__wrapper {
  max-width: 660px;
  padding: 0 15px;
}
.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}
.header__title strong {
  font-size: 60px;
  font-weight: 700;
}
.header__title em {
  color: var(--accent);
}

.header__text {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 40px;
}
.header__text p + p {
  margin-top: 1em;
}
.btn {
  height: 48px;
  padding: 12px 28px;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;

  transition: opacity 0.2s ease-in;
}
.btn:hover {
  opacity: 0.5;
}

.btn:active {
  position: relative;
  top: 1px;
}

.section {
  padding: 70px 0;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.project {
  max-width: 370px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}
.project__img {
  border-radius: 10px;
}

.project__title {
  padding: 15px 20px 25px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--text-color);
}

.footer {
  background-color: var(--dark-bg);
  padding: 60px 0 50px;
  color: var(--white);
  margin-top: auto;
}

.social {
  display: flex;

  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.social__item {
  display: flex;
  align-items: center;
}

.social-wrapper {
}
.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
.copyright p + p {
  margin-top: 0.5em;
}

.project-details {
  max-width: 865px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-1 {
}
.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;

  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0, 0.25);
  border-radius: 10px;
}
.project-details__desk {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;


  height: 34px;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #000;
  color: var(--black);
  transition: opacity 0.2s ease-in;
}



.btn-outline:hover {
  opacity: 0.5;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}


.section {
}

.title-1 {
}
.content-list {
  text-decoration: none;
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}
.content-list__item {
  font-size: 18px;
  line-height: 1.5;
}
.content-list__item p+p {
 margin-top: 0.5em;
}
.title-2 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 30px;
  font-weight: 700;

}





.dark-mode-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
 
  width: 51px;
  height: 26px;
  background-color: #26292d;
  border-radius: 50px;
  padding: 5px;
order: 9;

}

.dark-mode-btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  
  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s ease-in;
 
}
.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

.dark-mode-btn--active::before{
left: 26px;
}
@media (max-width:620px){
  .header__title{
    font-size: 30px;
  }
  .header__title strong{
    font-size: 40px;
  }
  .header{
    min-height: unset;
  }
  .section{
    padding: 40px 0;
  }
  .title-1{
    font-size: 40px;
    margin-bottom: 30px;
  }

  .project__title{
    font-size: 22px;
  }

  .footer{
    padding: 40px 0 30px;
  }

  .social__item{
    width: 28px;
  }

  .social{
    column-gap: 20px;
    margin-bottom: 10px;
  }
 .project-details__desk{
  font-size: 20px;
  margin-bottom: 20px;
 }
 .nav__row{
  justify-content: space-between;

 }
 .dark-mode-btn{
  order: 0;
 }

 
}
